<ul class="nav nav-pills nav-stacked">
    <li class="nav-header disabled"><a>Company Accounts</a></li>
    <li class="active"><a href="#">Create Company Account</a></li>
    <li><a href="#">Confirm Company Account</a></li>
    <li><a href="#">Delete Company Account</a></li>
    <li class="nav-header disabled"><a>System Management</a></li>
    <li><a href="#">Manage Accounts</a></li>
</ul>