<ul class="nav nav-pills nav-stacked">
    <li class="nav-header disabled"><a>User Accounts</a></li>
    <li class="active"><a href="#">Create User Account</a></li>
    <li><a href="#">Confirm User Account</a></li>
    <li><a href="#">Delete User Account</a></li>
</ul>