@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <b>File Exchange </b> jest aplikacją internetową dedykowaną dla osób, które chcą wymieniać się plikami. 
    Głównym założeniem apliakcji jest możliwość wgrywania, ściągania, udostępniania oraz zarządzania danymi. 
    Cechą wyróżniającą system spośród innych serwisów jest określona hierarchia użytkowników oraz prawa dostępu do danych. 
    Wyróżniamy cztery typy osób korzystających z systemu  tzw. aktorów:
    <ul>
        <li>
            Administrator repozytorium – główny zarządca swojego repozytorium. Posiada kontrolę nad wszystkimi użytkownikami swojego repozytorium oraz może zaprzyjaźniać się z innymi repozytoriami. Administratorem repozytorium staje się gość systemu po odbyciu procesu rejestracji,
        </li>
        <li>
            Użytkownik repozytorium – zostaje stworzony przez Administratora repozytorium, może korzystać ze swojego repozytorium jak i zaprzyjaźnionych repozytoriów. Wyróżnia się 3 typy uprawnień użytkownika: 
            <ul>
                <li>Wysoki,</li>
                <li>Średni,</li>
                <li>Niski,</li>
            </ul>
            ustalane przez administratora repozytorium.
        </li>
    </ul>
</p>
