@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tomasz Nocoń<br />
    ul. Skarżyńskiego 7/812A<br/>
    31-866 Kraków<br />
    <abbr title="Phone">P:</abbr>
    514 805 898
</address>

<address>
    <strong>Support:</strong>   <a href="tomasz.nocon@hotmail.com">tomasz.nocon@hotmail.com </a><br/>
</address>