@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("../Menu/Admin")
        </div>
        <div class="col-md-9" role="main">
        </div>
    </div>
</div>
